name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - runner: ubuntu-22.04
            target: i686-unknown-linux-gnu
          - runner: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - runner: ubuntu-22.04
            target: armv7-unknown-linux-gnueabihf
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install Maturin
        run: pip install maturin
      - name: Add Rust target
        run: rustup target add ${{ matrix.platform.target }}
      - name: Install cross-compiler
        if: matrix.platform.target == 'armv7-unknown-linux-gnueabihf' || matrix.platform.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo apt-get update
          if [ "${{ matrix.platform.target }}" = "armv7-unknown-linux-gnueabihf" ]; then
            sudo apt-get install -y gcc-arm-linux-gnueabihf
          elif [ "${{ matrix.platform.target }}" = "aarch64-unknown-linux-gnu" ]; then
            sudo apt-get install -y gcc-aarch64-linux-gnu
          fi
      - name: Build wheels
        run: cd rust/rustism && maturin build --target ${{ matrix.platform.target }} --release --out dist --find-interpreter
        env:
          SCCACHE: ${{ !startsWith(github.ref, 'refs/tags/') }}
          CARGO_TARGET_ARMV7_UNKNOWN_LINUX_GNUEABIHF_LINKER: arm-linux-gnueabihf-gcc
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: rust/rustism/dist

  windows:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
          - runner: windows-latest
            target: i686-pc-windows-msvc
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: ${{ matrix.platform.target }}
      - name: Install Maturin
        run: pip install maturin
      - name: Add Rust target
        run: rustup target add ${{ matrix.platform.target }}
      - name: Build wheels
        run: cd rust/rustism && maturin build --target ${{ matrix.platform.target }} --release --out dist --find-interpreter
        env:
          SCCACHE: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: rust/rustism/dist

  macos:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: macos-13
            target: x86_64-apple-darwin
          - runner: macos-14
            target: aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install Maturin
        run: pip install maturin
      - name: Add Rust target
        run: rustup target add ${{ matrix.platform.target }}
      - name: Build wheels
        run: cd rust/rustism && maturin build --target ${{ matrix.platform.target }} --release --out dist --find-interpreter
        env:
          SCCACHE: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: rust/rustism/dist

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Maturin
        run: pip install maturin
      - name: Build sdist
        run: cd rust/rustism && maturin sdist --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: rust/rustism/dist

  publish-github-packages:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
    needs: [linux, musllinux, windows, macos, sdist]
    permissions:
      contents: read
    steps:
      - uses: actions/download-artifact@v4
      - name: Install Maturin
        run: pip install maturin
      - name: Publish to GitHub Packages
        run: maturin upload --repository-url https://pypi.pkg.github.com/${{ github.repository_owner }} --non-interactive wheels-*/*
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    needs: [linux, musllinux, windows, macos, sdist]
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: "wheels-*/*"
      - name: Publish to PyPI
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*
